/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;	margin: 0;padding: 0;}
img{vertical-align: top; margin: 0; padding: 0}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

a {color: inherit;}

address{font-size:inherit;font-weight:400;text-decoration:none;font-style:normal;}

/*--------------------*/

.visually-hidden {
	position:  absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

body {
	font-family: Montserrat, Areal, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 165%;
	text-align: justify;
	scroll-behavior: smooth;
}

/*--------------------/ header*/

.wrapper {
	min-width: 100%;
	overflow: hidden;
/*	margin: 0 -30px 0 0;*/
}

.container {
	max-width: 1580px;
	margin: 0 auto;
}

.main-header {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	background: url("../img/icons/white-line.png") 0 100%/100%  no-repeat, url("../img/main-photo.png") center / cover no-repeat fixed;
	padding: 50px 55px;
	margin-bottom: 100px;
	flex-shrink: 0;
}

.top-row {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: block;
}

.main-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	flex-grow: 1;
}

.site-title {
	font-family: ZWAdobeF;
	color:  #fff;
	font-size:  144pt;
	text-align: center;
	line-height: 98%;
}

.blind-mode {
	margin-right: 68px;
}

@media (max-width: 1380px) {
	.site-title {
		font-size: 80pt;
	}
	.logo {
		width: 150px;
		height: auto;
	}
}

@media (max-width: 860px) {
	.site-title {
		font-size: 80px;
	}
	.blind-mode span {
		display: none;
	}
	.burger-menu p {
		display: none;
	}
}

@media (max-width: 560px) {
	.site-title {
		font-size: 50pt;
	}
	.burger-and-blind {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-between;
	}
	.blind-mode {
		margin-right: 0;
	}
}

@media (max-width: 480px) {
	.site-title {
		font-size: 34pt;
	}
	.logo {
		display: none;
	}
	.blind-mode {
		display: none;
	}
	.top-row {
		justify-content: flex-end;
	}
	.main-header {
		padding: 20px;
	}
}

.burger-and-blind {
	display: flex;
}


.blind-mode button {
	display: block;
	height: 40px;
	padding: 0 54px 0 0;
	color: #fff;
	font-size: 19px;
	background: url("../img/icons/34ae362db3340024554cd11254ccc954 1.svg") right no-repeat ;
}

					/*burger*/

.burger-body {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	left: 100%;
	color: #fff;
	overflow: auto;
	padding: 50px 55px;
	background: #162336;
	width: 100%;
	height: 100%;
	z-index: 5;
	transition-property: left;
	transition-duration: 0.6s;
}

.burger-body.active {
	left: 0;
}

.burger-second-row {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-logo {
	opacity: 49%;
	transform: translateY(50px);
	opacity: 0;
}

.burger-body.active .burger-logo {
	opacity: 49%;
	transform: translateY(0);
	transition-delay: 1.2s;
	transition-duration: 0.8s;
}

.main-navigation-list {
	position: relative;
	font-family: Garamond;
	letter-spacing: 3px;
	font-size: 41px;
	width: 276px;
}

.main-navigation-item {
	margin-bottom: 42px;
	transform: translateY(20px);
	opacity: 0;
}

.burger-body.active .main-navigation-item:nth-child(2) {
	transition-delay: 0.8s;
}

.burger-body.active .main-navigation-item:nth-child(3) {
	transition-delay: 1s;
}

.burger-body.active .main-navigation-item:nth-child(4) {
	transition-delay: 1.2s;
}

.burger-body.active .main-navigation-item:nth-child(5) {
	transition-delay: 1.4s;
}

.burger-body.active .main-navigation-item {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 0.6s;
	transition-duration: 0.2s;
}

.selected {
	font-weight: 700;
}


.main-sub-menu {
	text-align: left;	
	position: absolute;
	top: 0;	
	left: -600px;
	max-width: 480px;
}

.second-sub-menu {
	top: -70px;
}

.third-sub-menu {
	top: -140px;
}

.main-sub-menu-item {
	font-size: 27px;
	margin-bottom: 30px;
	padding-right: 20px;
	transition-duration: 0.1s;
	opacity: 0;
	transform: translateY(30px);
}

.main-sub-menu.opened .main-sub-menu-item {
	opacity: 1;
	transform: translateY(0);
}

.main-sub-menu-item:nth-child(2) {
	transition-delay: 0.1s;
}

.main-sub-menu-item:nth-child(3) {
	transition-delay: 0.2s;
}

.main-sub-menu-item:nth-child(4) {
	transition-delay: 0.3s;
}

.main-sub-menu-item:nth-child(5) {
	transition-delay: 0.4s;
}

.main-sub-menu-item:nth-child(6) {
	transition-delay: 0.5s;
}

.main-sub-menu-item:nth-child(7) {
	transition-delay: 0.6s;
}

.main-menu-social-list {
	display: flex;
	justify-content: flex-end;
	transform: translateY(20px);
	opacity: 0;
}


.burger-body.active .main-menu-social-list{
	opacity: 1;
	transform: translateY(0);
	transition-duration: 0.2s;
	transition-delay: 1.5s;
}

.main-menu-social-list-item:not(:last-child) {
	margin-right: 20px;
}

.main-menu-social-list-item a {
	padding: 20px;
}

.search {
	transform: translateY(20px);
	opacity: 0;
}

.burger-body.active .search {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 1s;
	transition-duration: 0.2s;
}

.search-sign {
	position: relative;
	font-size: 19px;
	letter-spacing: 3px;
	vertical-align: top;
	padding-left: 65px;
}

.search-sign::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url("../img/icons/search.svg");
}

@media (max-width: 1280px) {
	.main-navigation {
		align-self: flex-start;
	}
	.main-navigation-list {
		margin-top: 60px;
	}
	.main-sub-menu-item  {
		transition: none;
	}
	.main-sub-menu.opened {
		position: static;
		text-align: left;
		margin-top: 40px;
		margin-left: 30px;
	}
	.burger-menu.hidden {
		opacity: 0;
		display: none;
	}
}

@media (max-width: 630px) {
	.burger-logo-capsul {
		display: none;
	}
	.burger-second-row {
		justify-content: center;
	}
}

@media (max-width: 480px) {
	.main-navigation-list {
		font-size: 37px;
	}
	.main-sub-menu-item {
		font-size: 20px;
	}
	.burger-body {
		padding: 20px;
	}
}

						/*the icon of the burger*/

body.lock {
	overflow: hidden;
}						

.burger-menu {
	position: relative;
	color: #fff;
	height: 30px;
	font-size: 19px;
	letter-spacing: 3px;
	font-weight: 400;
	padding-right: 50px;
	cursor: pointer;
	z-index: 6;
	transition-property: opacity;
	transition-duration: 0.7s;
}

.burger-menu::before, .burger-menu::after {
	content: "";
	display: block;
	position: absolute;
	width: 40px;
	height: 2px;
	right: 0;
	background: #fff;
	transform-origin: 0% 100%;
	transition-property: transform;
	transition-duration: 1s;
}

.burger-menu::after {
	bottom: 0;
}

.burger-menu span {
	display: inline-block;
	width: 40px;
	height: 2px;
	position: absolute;
	top: 50%;
	right: 0;
	background: #fff;
	transition-property: opacity;
	transition-duration: 1s;
}

.burger-menu.opened span {
	opacity: 0;
}

.burger-menu.opened::after {
	transform-origin: 0% 100%;
	transform: rotate(-45deg);
}

.burger-menu.opened::before {
	transform-origin: 0% 100%;
	transform: rotate(45deg);
}

/*--------------------/ discrption*/


.discription-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 145px;
	padding: 0 30px;
}

.discription h3 {
	font-family: Garamond;
	font-size: 41px;
	margin-bottom: 41px;
	text-align: center;
	padding: 0 20px	;
}

.discription h3::before, .discription h3::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 72px;
	background: #000;
	margin: 0 56px 10px 0;
}

.discription h3::after  {
	margin: 0 0 10px 56px;
}

.discription-content p {
	max-width: 620px;
	padding: 10px;
	flex-grow: 1;

}

.discription-content p:first-child {
	margin-right: 30px;
}

.discription::after {
	content: "";
	display: block;
	width: 703px;
	height: 2px;
	background: #000;
	margin-bottom: 145px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1300px) {
	.discription-content {
		flex-direction: column;
		align-items: center;
	}
	.discription-content p:first-child {
		margin-right: 0;
		padding-bottom: 0;
	}
	.discription-content p:last-child {
		padding-top: 0;
	}
}

@media (max-width: 495px) {
	.discription h3::before, .discription h3::after {
		display: none;
	}
	.discription-content p {
		font-size: 14px;
	}
}

/*--------------------/ person*/

.person-content {
	display: flex;
	justify-content: space-between;
	background: #283446;
	margin-bottom: 145px;
}


.person-discription {
	align-self: center;
}

.person-discription p {
	max-width: 620px;
	color: #fff;
	padding: 0  20px 0 50px;
}

.person-photo img {
	width: 100%;
	height: auto;
}

@media (max-width: 930px) {
	.person-content {
		flex-wrap: wrap;
	}
	.person-photo {
		flex-grow: 1;
	}
	.person-discription p {
		max-width: 100%;
		padding: 30px;
	}
}

.person::after {
	content: "";
	display: block;
	width: 703px;
	height: 2px;
	background: #000;
	margin-bottom: 145px;
	margin-left: auto;
	margin-right: auto;
}



/*--------------------/ top-photos*/

.slider {
	margin-bottom: 145px;
}

.slider-photos {
	display: flex;
	justify-content: center;
	margin-bottom: 26px;
}

.previous, .next {
	display: flex;
	max-height: 600px;
	padding: 0 30px;
	align-items: center;
}

.previous-button, .next-button {
	display: block;
	height: 119px;
	width: 30px;
	background: url("../img/icons/bi_chevron-compact-left.png") 40% 50%  no-repeat;
}

.photo img {
	width: 100%;
	height: auto;
}

.next-button {
	transform: rotate(180deg);
}

.indicator-list {
	display: flex;
	justify-content: center;
}

.indicator {
	display: block;
	margin-right: 10px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #C4C4C4;
}

.indicator:last-child {
	margin: 0;
}

.indicator.current {
	background: #000;
}

@media (max-width: 1440px) {
	.previous, .next {
		padding: 0 10px;
	}
}

@media (max-width: 768px) {
	.previous, .next {
		display: none;
	}
	.slider {
		margin-bottom: 50px;
	}
	.person::after {
		margin-bottom: 50px;
	}
}

.top-photos::after {
	content: "";
	display: block;
	width: 703px;
	height: 2px;
	background: #000;
	margin-bottom: 145px;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------/ discrption-2*/

.discrption-2-content {
	display: flex;
	justify-content: space-between;
	background: #283446;
	margin-bottom: 145px;
}


.discrption-2-text {
	align-self: center;
}

.discrption-2-text p {
	max-width: 620px;
	color: #fff;
	padding: 0  50px 0 20px;
}

.discription-2-photo img {
	width: 100%;
	height: auto;
}

@media (max-width: 980px) {
	.discrption-2-content{
		flex-wrap: wrap;
	}
	.discription-2-photo {
		flex-grow: 1;
	}
	.discrption-2-text p {
		max-width: 100%;
		padding: 30px;
	}
}


.discrption-2::after {
	content: "";
	display: block;
	width: 703px;
	height: 2px;
	background: #000;
	margin-bottom: 145px;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------/ features*/


.features-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
	padding: 0 20px;
}

.features-list-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 375px;
	text-align: center;
	font-size: 24px;
	margin-right: 40px;
	margin-bottom: 90px;
}

.features-list-item:last-child {
	margin-right: 0;
}

.short-feature-discription {
	font-size: 30px;
	margin-bottom: 62px;
	line-height: 40px;
}

.features-list-item::before {
	content: "";
	display: block;
	width: 93px;
	height: 93px;
	margin: 0 auto 65px auto;

}

.features-list-item:first-child::before {
 background: url("../img/icons/value 1.png") no-repeat;
}

.features-list-item:nth-child(2)::before {
 background: url("../img/icons/education 1.png") no-repeat;
}

.features-list-item:last-child::before {
 background: url("../img/icons/rating 1.png") no-repeat;
}

@media (max-width: 930px) {
	.features-list {
		flex-direction: column;
		align-items: center;
	}
	.features-list-item {
		margin-right: 0;
	}
}

.features::after {
	content: "";
	display: block;
	width: 703px;
	height: 2px;
	background: #000;
	margin-bottom: 145px;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------/ notice*/

								/*announcement*/

.notice-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 105px;
	padding: 0 30px;
}


.announcement-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 643px;
	min-height: 593px;
	border: 1px solid #000;
	padding: 20px;
	font-family: Verdana;
	margin-bottom: 40px;
}

.announcement-list-item:not(:last-child) {
	margin-bottom: 40px;
}

.announcement-list-link {
	display: flex;
	align-items: center;
}

.announcement-list-item time {
	display: block;
	width: 125px;
	height: 130px;
	border: 1px solid #000;
	text-align: center;
	padding: 15px 0;
	flex-shrink: 0 ;
}

span.date {
	font-size: 36px;
}

span.month {
	font-size: 20px;
	text-transform: uppercase;
}

.announcement-discription {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 20px 10px 35px;
}

.notice-content::after {
	content: "";
	width: 1px;
	height: 441px;
	background: #000;
	align-self: center;
}


								/*events*/

.events {
	order: 3;
}

.events-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 643px;
	min-height: 593px;
	padding: 0 20px 20px 0px;
	font-family: Verdana;
}

.events-list-item:not(:last-child) {
	margin-bottom: 40px;
}

.event-list-link {
	display: flex;
}

.event-discription {
	padding: 0 20px 10px 30px;
}

.event-discription h3, .event-discription time, .event-discription p {
	display: inline;
}

.event-discription h3 {
	font-weight: 700;
	font-size: 20px;
}

.event-discription time, .event-discription p {
	font-family: Montserrat;
}

@media (max-width: 1370px) {
	.notice-content::after {
		display: none;
	}
	.notice-content {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 450px) {
	.announcement-list-link {
		flex-direction: column;
		margin-bottom: 30px;
	}
	.announcement-list-link time {
		margin-bottom: 20px;
	}
	.event-list-link {
		flex-direction: column;
		align-items: center;
	}
	.event-list-link .event-photo {
		margin-bottom: 20px;
	}
}

.notice::after {
	content: "";
	display: block;
	width: 703px;
	height: 2px;
	background: #000;
	margin-bottom: 145px;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------/ contacts*/

.capsule {
	display: flex;
	justify-content: space-between;
}

.capsule::after {    /*vertical line*/
	content: "";
	width: 1px;
	height: 573px;
	background: #000;
	align-self: center;
}

.map {
	max-width: 717px;
	flex-grow: 1;
	padding-top: 8px;
}

.map img {
	width: 100%;
	height: auto;
}

.contacts-content {
	display: flex;
	flex-direction: column;
	order: 3;
	max-width: 712px;
	flex-grow: 1;
	padding: 0 20px;
}

.contacts-content h3 {
	font-size: 24px;
	margin-bottom: 40px;
}

.campus {
	margin-bottom: 71px;
}

.address-list-container {
	display: flex;
	justify-content: center;
}

.contacts-content .address {
	font-size: 30px;
}

.contacts-content .work-time {
	font-size: 24px;
}

.address-list-item {
	position: relative;
	padding-left: 72px;
}

.address-list-item:not(:last-child) {
	margin-bottom: 25px;
}

.address-list-item p:not(:last-child) {
	margin-bottom: 8px;
}

.address-list-item::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #000;
	margin-right: 32px;
}

.address-list-item:last-child::before {
	background: #F3674E;
}


.information-list-container {
	display: flex;
	justify-content: center;
}

.information-list-item a {
	display: block;
	font-family: Montserrat;
	font-size: 36px;
	padding: 12.5px 0 12.5px 25px;
}

.contacts {
	position: relative;
	margin-bottom: 145px;
}

.contacts::before {    /*horizont line*/
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50.2%;
	height: 1px;
	width: 50%;
	background: #000;
}

@media (max-width: 1430px) {
	.capsule {
		flex-direction: column;
		align-items: center;
	}
	.capsule::after, .contacts::before {
		display: none;
	}
	.map {
		margin-bottom: 30px;
	}
}

@media (max-width: 430px) {
	.address-list-item .address {
		font-size: 24px;
	}
	.address-list-item .work-time {
		font-size: 18px;
	} 
}

/*--------------------/ footer*/

footer {
	background: #111;
	padding-top: 23px;
	font-family: "Segoe UI";
	color: #fff;
}

footer a {
	display: block;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}
								/*left-column*/

.left-column {
	display: flex;
	flex-direction: column;
	padding: 0px 20px 20px 27px;
	max-width: 645px;
	flex-grow: 1;
}

.main-contact-information {
	display: flex;
	justify-content: space-between;
	margin-bottom: 78px;
}

.footer-address {
	margin-bottom: 20px;
}

.footer-address p {
	margin-bottom: 21.5px;
}

address {
	font-size: 14px;
	opacity: 50%;
	line-height: 20px;
}

.phone-and-email {
	padding-right: 49px;
}

.phone-and-email a {
	padding: 0 0 11px 0;
}

.extra-contact-information {
	display: flex;
	flex-direction: column;
}

.extra-contact-information a {
	margin-bottom: 15px;
}

.social-list {
	align-self: flex-end;
	margin-bottom: 20px;
}

.social-list li {
	display: inline-block;
	margin-right: 35px;
}

.social-list li:last-child {
	margin-right: 0;
}

.extra-contact-information p {
	margin-bottom: 50px;
}

							/*right-column*/

.right-column {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	flex-grow: 1;
	padding: 0 20px;
}

.right-column p {
	margin-bottom: 25px;
}							

.right-column p:nth-child(2) {
	opacity: 50%;
}

#subscrib-form-email {
	height: 34px;
	width: 216px;
	background: #111;
	border-bottom: 1px solid #FFF;
	color: #fff;
}

.subscrib-form-button {
	display: inline-block;
	width: 30px;
	height: 15px;
	background: url("../img/icons/submit_arrow.svg") center no-repeat;
}

@media (max-width: 880px) {
 	.footer-content {
 		flex-direction: column;

 	}
}

@media (max-width: 480px) {
	.main-contact-information {
		flex-direction: column;
	}
}

.up-scroll {
	padding: 20px;
	cursor: pointer;
}

.up-scroll-button {
	width: 50px;
	height: 50px;
	display: block;
	letter-spacing: 3px;
	color: #fff;
	background: url('../img/icons/upp_scrol.svg') 50% / contain no-repeat;
	padding-top: 50px;
}
